
#firstBox {
    background-color: aqua;
    height: 150px;
    width: 150px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: example;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {background-color: aqua;}
    to {background-color: yellow;}
  }